.playlistsDiv {
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.4);
    color: white;
    border: 1px solid black;
    width: max-content;
    overflow: auto;

    /* overflow-y: auto; */
    float: left;
    height: min-content;
    margin-top: 50px;
}

li {
    list-style-type: none;
    padding: 10px;
}

li:hover {
    color: black;
}